canvas {
  width: 168px !important;
  height: 168px !important;
}
.card {
  box-sizing: border-box;
  padding-left:48px;
  margin-top: 71px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.card-segment {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.legend {
  padding-left: 33px;
  width: 50%;
  text-align-last: start;
}
.chart {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

h4 {
  text-align: start;
  width: 50%;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: #4A4A4A;
  letter-spacing: -1.07px;
}
.select-data {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.select-data .info {
  line-height: 29px;
  width: 100%;
  color: #515A5A;
  font-size: 24px;
  margin-bottom: 5px;
}
.select-data .selection {
  line-height: 29px;
  width: 100%;
  color: #515A5A;
  font-size: 14px;
  margin-bottom: 5px;
}
li {
  list-style: square outside none;
  text-align: start;
  width: 50%;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #6D7777;
  line-height: 32px;
}
h6 {
  width: 50%;
  text-align: start;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #515A5A;
  letter-spacing: -1.07px;
}
