.dashboard {
  background-color: #EAEEEF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.titles {
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: 33px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cards {
  width: 100%;
}
